*.Rhistory
*.RData
/backup
/Results/lassoSCAD_old
/Results/linearModifiedAKO
/Results/logComposData_linear
/Results/logComposData_logistic
/Results/logComposData_ModifiedAKO
/Results/logisticModifiedAKO



Results/linear1/FDR.pdf
Results/linear1/Power.pdf
Results/linear2/FDR.pdf
Results/linear2/Power.pdf
Results/logistic1/FDR.pdf
Results/logistic1/Power.pdf
Results/logistic2/FDR.pdf
Results/logistic2/Power.pdf
Results/linear1/FDR_all.pdf
Results/linear1/Power_all.pdf
Results/logistic1/FDR_all.pdf
Results/logistic1/Power_all.pdf

Results/stability_analysis/
lib/meanvarPlot.R

Results/genus_level/
